<form role="form">
  <div class="form-group">
    <label for="exampleInputEmail1">Text</label>
    <input value="<%= todo.text %>" type="email" class="form-control todoInput" id="exampleInputEmail1" placeholder="Text ..." autofocus>
  </div>
  <button type="submit" class="save btn btn-default">Save</button>
</form>